<a href="https://colab.research.google.com/github/shayanAbbasi1995/BGSE-Macro-Finance/blob/main/Match_final_lit_w_gvkey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Run this if running in Google Collab
# Mount google drive if running from Google Collab
from google.colab import drive
drive.mount('/content/drive')

# Set current directory if running from Google Collab

import os
os.chdir('/content/drive/My Drive/Colab Notebooks/Master Project')# here use your path to current notebook

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
final_lit = pd.read_csv('final_lit.csv')
firm_code = pd.read_stata('Firm-code-info.dta')

In [ ]:
for i in range(len(final_lit.final_conm)):
  if pd.notna(final_lit.final_conm.iloc[i]):
    final_lit.final_conm.iloc[i] = final_lit.final_conm.iloc[i][1:-1]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
for i in range(len(final_lit['Parent Company Stock Ticker'])):
  if pd.notna(final_lit['Parent Company Stock Ticker'].iloc[i]):
    final_lit['Parent Company Stock Ticker'].iloc[i] = final_lit['Parent Company Stock Ticker'].iloc[i].replace('LSE: ', '')
    final_lit['Parent Company Stock Ticker'].iloc[i] = final_lit['Parent Company Stock Ticker'].iloc[i].replace('NYSE: ', '')
    final_lit['Parent Company Stock Ticker'].iloc[i] = final_lit['Parent Company Stock Ticker'].iloc[i].replace('Nasdaq: ', '')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
firm_code['conm'] = firm_code['conm'].str.lower()

In [ ]:
final_lit

,Unnamed: 0,Unnamed: 0.1,Company,Parent Company,Penalty Amount,Subtraction From Penalty,Penalty Amount Adjusted For Eliminating Multiple Counting,Penalty Year,Penalty Date,Offense Group,...,HQ State of Parent,Ownership Structure,Parent Company Stock Ticker,Major Industry of Parent,Specific Industry of Parent,Info Source,Notes,conm,conm2,final_conm
0,5,5,"3m attenti, ltd.",3m company,"$230,000",$0,"$230,000",2012,20120214,competition-related offenses,...,Minnesota,publicly traded,MMM,miscellaneous manufacturing,diversified,http://efoia.bis.doc.gov/index.php/component/d...,NaN,NaN,NaN,NaN
1,6,6,3m imtec corporation,3m company,"$125,000",$0,"$125,000",2010,20100722,competition-related offenses,...,Minnesota,publicly traded,MMM,miscellaneous manufacturing,diversified,http://efoia.bis.doc.gov/index.php/component/d...,NaN,NaN,NaN,NaN
2,12,12,ab volvo,volvo,"$7,000,000",$0,"$7,000,000",2008,20080320,competition-related offenses,...,NaN,publicly traded,NaN,motor vehicles,motor vehicles,https://www.justice.gov/archive/opa/pr/2008/Ma...,NaN,['volvo ab'],NaN,volvo ab
3,14,14,abb ltd,abb ltd.,"$5,900,000",$0,"$5,900,000",2004,20040706,competition-related offenses,...,NaN,publicly traded,ABB,utilities and power generation,power systems,https://www.sec.gov/litigation/litreleases/lr1...,NaN,['abb ltd'],['abb ltd'],abb ltd
4,15,15,abb ltd.,abb ltd.,"$39,300,000",$0,"$39,300,000",2010,20100929,competition-related offenses,...,NaN,publicly traded,ABB,utilities and power generation,power systems,https://www.sec.gov/news/press/2010/2010-175.htm,NaN,['abb ltd'],['abb ltd'],abb ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,2818,2818,wpp plc,wpp,"$19,100,000",$0,"$19,100,000",2021,20210924,competition-related offenses,...,NaN,publicly traded,NaN,business services,advertising,https://www.sec.gov/news/press-release/2021-191,NaN,['wpp plc'],NaN,wpp plc
1064,2823,2823,"amazon.com, inc.",amazon.com,"$2,250,000",$0,"$2,250,000",2022,20220126,competition-related offenses,...,Washington,publicly traded,AMZN,retailing,retail-internet,https://www.atg.wa.gov/news/news-releases/ag-f...,NaN,['amazon.com inc'],NaN,amazon.com inc
1065,2824,2824,"davita inc. and total renal care, inc.",davita healthcare partners,"$80,000",$0,"$80,000",2021,20211105,competition-related offenses,...,Colorado,publicly traded,DVA,healthcare services,healthcare services,https://attorneygeneral.utah.gov/settlement-ut...,NaN,"['care centers inc', 'care inns inc', 'care pl...",NaN,NaN
1066,2827,2827,pharmerica inc.,kkr & co.,"$4,900,000",$0,"$4,900,000",2022,20220118,competition-related offenses,...,New York,publicly traded,KKR,private equity (including portfolio companies),private equity (including portfolio companies),https://events.in.gov/event/attorney_general_t...,NaN,['pharmerica inc -old'],"['armour & co', 'crawford & co', 'deere & co',...",pharmerica inc -old
1067,2828,2828,biglari holdings inc.,biglari holdings,"$1,400,000",$0,"$1,400,000",2021,20211222,competition-related offenses,...,Texas,publicly traded,BH,diversified,diversified,https://www.ftc.gov/news-events/press-releases...,NaN,"['prog holdings inc', 'princeton holdings inc'...",['biglari holdings inc'],NaN

In [ ]:
new_df = pd.merge(final_lit, firm_code,  how='left', left_on=['Penalty Year','final_conm'], right_on = ['fyear','conm'])

In [ ]:
new_df2 = pd.merge(final_lit, firm_code,  how='left', left_on=['Penalty Year','Parent Company Stock Ticker'], right_on = ['fyear','tic'])

In [ ]:
new_df.update(new_df2)

In [ ]:
new_df

,Unnamed: 0,Unnamed: 0.1,Company,Parent Company,Penalty Amount,Subtraction From Penalty,Penalty Amount Adjusted For Eliminating Multiple Counting,Penalty Year,Penalty Date,Offense Group,...,datafmt,tic,cusip,conm_y,curcd,fyr,exchg,cik,costat,fic
0,5,5,"3m attenti, ltd.",3m company,"$230,000",$0,"$230,000",2012,20120214,competition-related offenses,...,STD,MMM,88579Y101,3m co,USD,12.0,11.0,0000066740,A,USA
1,6,6,3m imtec corporation,3m company,"$125,000",$0,"$125,000",2010,20100722,competition-related offenses,...,STD,MMM,88579Y101,3m co,USD,12.0,11.0,0000066740,A,USA
2,12,12,ab volvo,volvo,"$7,000,000",$0,"$7,000,000",2008,20080320,competition-related offenses,...,STD,VLVLY,928854108,volvo ab,USD,12.0,19.0,0000753762,A,SWE
3,14,14,abb ltd,abb ltd.,"$5,900,000",$0,"$5,900,000",2004,20040706,competition-related offenses,...,STD,ABB,000375204,abb ltd,USD,12.0,11.0,0001091587,A,CHE
4,15,15,abb ltd.,abb ltd.,"$39,300,000",$0,"$39,300,000",2010,20100929,competition-related offenses,...,STD,ABB,000375204,abb ltd,USD,12.0,11.0,0001091587,A,CHE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,2663,2663,barclays bank plc,barclays,"$150,000,000",$0,"$150,000,000",2015,20151118,competition-related offenses,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,2664,2664,bnp paribas s.a.,bnp paribas,"$350,000,000",$0,"$350,000,000",2017,20170524,competition-related offenses,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,2665,2665,credit suisse ag,credit suisse,"$135,000,000",$0,"$135,000,000",2017,20171113,competition-related offenses,...,STD,CS,225401108,credit suisse group,USD,12.0,11.0,0001159510,A,CHE
1098,2666,2666,goldman sachs group inc.,goldman sachs,"$54,750,000",$0,"$54,750,000",2018,20180501,competition-related offenses,...,STD,GS,38141G104,goldman sachs group inc,USD,12.0,11.0,0000886982,A,USA
1099,2666,2666,goldman sachs group inc.,goldman sachs,"$54,750,000",$0,"$54,750,000",2018,20180501,competition-related offenses,...,STD,GS,38141G104,goldman sachs group inc,USD,12.0,11.0,0000886982,A,USA

In [ ]:
new_df.to_csv('final_lit_df.csv')